<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844303338405-nmtd2h7t57co541elov465dv2kfuc9gi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844303338405-nmtd2h7t57co541elov465dv2kfuc9gi</string>
	<key>API_KEY</key>
	<string>AIzaSyDVMvbmAq9lIJCSzHzB1Gq0AoLokdF_Vhw</string>
	<key>GCM_SENDER_ID</key>
	<string>844303338405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Dong-Truong.eShop</string>
	<key>PROJECT_ID</key>
	<string>eshop-358c5</string>
	<key>STORAGE_BUCKET</key>
	<string>eshop-358c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844303338405:ios:603e2d918cccf7a7d8b64c</string>
</dict>
</plist>